/*========================================
--> VARIABLES
========================================*/

:root {
  /* Font */
  --font-base: "Open Sans", sans-serif;
  /* Color */
  --c-photo: 148, 87, 68;
  --c-dev: 42, 47, 65;
  --c-art: 188, 76, 34;

  --container-padding-s: 20px;
  --container-padding-l: 100px;

  --img-slide: 20px;

  /* Must be the same as navBarHeight and menuHeight (app.js) */
  --nav__bar-height: 65px;
  --menu-height: 250px;
}

/*========================================
--> RESET
========================================*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

/*========================================
--> BASE STYLES
========================================*/

body {
  font-family: var(--font-base);
  font-size: 16px;
}

/*========================================
--> NAVIGATION
========================================*/

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.nav {
  position: relative;
}

.nav__bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: var(--nav__bar-height);
  padding-right: var(--container-padding-s);
  padding-left: var(--container-padding-s);
  color: #fff;
  background-color: transparent;
}
@media (min-width: 1000px) {
  .nav__bar {
    padding-right: var(--container-padding-l);
    padding-left: var(--container-padding-l);
  }
}

.logo,
.menuBtn {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
}

.menuBtn {
  color: #fff;
}

.menu {
  position: absolute;
  top: calc(0px - var(--menu-height) - var(--nav__bar-height));
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
  height: var(--menu-height);
  padding-right: var(--container-padding-s);
  padding-left: var(--container-padding-s);
  text-align: center;
  background: #fff;
}
@media (min-width: 1000px) {
  .menu {
    padding-right: var(--container-padding-l);
    padding-left: var(--container-padding-l);
  }
}

.menu__item h4 {
  font-size: 25px;
  font-weight: bold;
}

.menu__item img {
  width: 40px;
  margin-right: 5px;
  margin-left: 5px;
}

.menu__item img:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/*========================================
--> HOMEPAGE
========================================*/

.wrap {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "avatar"
    "intro";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  justify-items: center;
  align-content: center;
  padding-top: var(--nav__bar-height);
  padding-right: var(--container-padding-s);
  padding-bottom: var(--nav__bar-height);
  padding-left: var(--container-padding-s);
}
@media (min-width: 1000px) {
  .wrap {
    grid-template-areas: "intro avatar .";
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    justify-items: stretch;
    -webkit-box-align: center;
    align-items: center;
    padding-right: var(--container-padding-l);
    padding-left: var(--container-padding-l);
  }
}
.wrap.photo {
  z-index: 5;
  opacity: 1;
  background: rgb(var(--c-photo));
}
.wrap.dev {
  z-index: 1;
  opacity: 0.5;

  background: rgb(var(--c-dev));
}
.wrap.art {
  z-index: 1;
  opacity: 0.5;
  background: rgb(var(--c-art));
}

/*========================================
--> BULLETS
========================================*/

.bullets {
  position: fixed;
  /* Position to center: 50% from top, then subtract (.bullets height / 2) */
  top: calc(50% - 72px);
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-right: var(--container-padding-s);
}
@media (min-width: 1000px) {
  .bullets {
    margin-right: var(--container-padding-l);
  }
}
.bullets button {
  display: -webkit-box;
  display: flex;
  width: 40px;
  height: 48px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
}
.bullet__point {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.bullet__point--filled {
  background-color: #fff;
}

/*========================================
--> INTRO
========================================*/

.intro {
  grid-area: intro;
  color: #fff;
}
@media (min-width: 1000px) {
  .intro {
    justify-self: flex-start;
  }
}
.intro__name {
  font-size: 35px;
}
.intro__job {
  font-size: 25px;
}
.intro__btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.intro__btn:hover {
  color: grey;
  background: #fff;
}

/*========================================
--> AVATAR IMAGE
========================================*/

.avatar {
  grid-area: avatar;
  display: -webkit-box;
  display: flex;
  width: 40vw;
  max-width: 350px;
  padding-top: var(--img-slide);
  padding-bottom: var(--img-slide);
}
.avatar__img {
  width: 50%;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.avatar__img-left {
  -webkit-transform: translateY(calc(0px - var(--img-slide)));
  transform: translateY(calc(0px - var(--img-slide)));
}
.avatar:hover .avatar__img-left {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.avatar__img-right {
  -webkit-transform: translateY(var(--img-slide));
  transform: translateY(var(--img-slide));
}
.avatar:hover .avatar__img-right {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*========================================
--> BIO PAGES (photo.html, dev.html, art.html)
========================================*/

/*========================================
--> JUMBO
========================================*/

.jumbo {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 230px;
  padding-top: var(--nav__bar-height);
  padding-right: var(--container-padding-s);
  padding-bottom: var(--nav__bar-height);
  padding-left: var(--container-padding-s);
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.35);
}
.jumbo.photo-a {
  background-image: url("img/photo/jumbo-photo.jpg");
  box-shadow: inset 0 0 0 1000px rgba(148, 87, 68, 0.7);
}
.jumbo.dev-a {
  background-image: url("img/dev/jumbo-dev.jpg");
  box-shadow: inset 0 0 0 1000px rgba(42, 47, 65, 0.7);
}
.jumbo.art-a {
  background-image: url("img/art/jumbo-art.jpg");
  box-shadow: inset 0 0 0 1000px rgba(188, 76, 34, 0.7);
}
.jumbo h1 {
  font-size: 30px;
}
.jumbo h2 {
  font-size: 20px;
}
@media (min-width: 1000px) {
  .jumbo {
    height: 350px;
    padding-right: var(--container-padding-l);
    padding-left: var(--container-padding-l);
  }
  .jumbo h1 {
    font-size: 60px;
  }
  .jumbo h2 {
    font-size: 30px;
  }
}

/*========================================
--> ABOUT and GALLERY
========================================*/

.title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.title.photo-a {
  color: rgba(var(--c-photo));
}
.title.dev-a {
  color: rgba(var(--c-dev));
}
.title.art-a {
  color: rgba(var(--c-art));
}

.text {
  margin-bottom: 16px;
  line-height: 1.5;
}

/*========================================
--> ABOUT
========================================*/

.about {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 50px;
  padding-right: var(--container-padding-s);
  padding-bottom: 50px;
  padding-left: var(--container-padding-s);
}
@media (min-width: 1000px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding-right: var(--container-padding-l);
    padding-left: var(--container-padding-l);
  }
  .about__article {
    margin-right: 50px;
  }
}

.about__photo {
  width: 100%;
  max-width: 350px;
  margin-top: 34px;
}
@media (min-width: 1000px) {
  .about__photo {
    margin-top: 0;
  }
}

/*========================================
--> GALLERY
========================================*/

.gallery {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 50px;
  padding-right: var(--container-padding-s);
  padding-bottom: 50px;
  padding-left: var(--container-padding-s);
}
@media (min-width: 1000px) {
  .gallery {
    grid-template-areas: "images article";
    padding-right: var(--container-padding-l);
    padding-left: var(--container-padding-l);
  }
  .gallery__article {
    grid-area: article;
    margin-left: 50px;
  }
}

.gallery__images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: 34px;
  cursor: pointer;
}
@media (min-width: 640px) {
  .gallery__images {
    max-width: 450px;
  }
}
@media (min-width: 1000px) {
  .gallery__images {
    grid-area: images;
    margin-top: 0;
  }
}
.gallery__img {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.gallery__img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding: var(--container-padding-s);
}
@media (min-width: 1000px) {
  .shadow {
    padding: var(--container-padding-l);
  }
}
.modal-image {
  width: 100%;
  height: 100%;
}
.modal-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.modal-close {
  position: absolute;
  right: 40px;
  bottom: 40px;
  color: #fff;
  cursor: pointer;
}

/*========================================
--> FOOTER
========================================*/

.footer {
  text-align: center;
  margin-right: var(--container-padding-s);
  margin-left: var(--container-padding-s);
  padding: 30px;
  border-top-style: solid;
  border-top-width: 1px;
}
@media (min-width: 1000px) {
  .footer {
    margin-right: var(--container-padding-l);
    margin-left: var(--container-padding-l);
  }
}
.footer.photo-f {
  border-top-color: rgb(var(--c-photo));
}
.footer.dev-f {
  border-top-color: rgb(var(--c-dev));
}
.footer.art-f {
  border-top-color: rgb(var(--c-art));
}
